{% extends "myapp/base.html" %}
{% block content %}

  <div class="container-lg bg-light m-3 p-2" style="border: 2px solid rgb(209, 26, 26)">
    <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: coral;">Writing is an Art , Express your feelings with your letters</h1>
    <p>Paragraphs are the vocal inflections of the written word. Good writers vary the length of their paragraphs to show the reader what’s important. Some paragraphs will be 3-5 sentences, but every once in a while, they’ll throw in a one-sentence paragraph in order to emphasize a
         particular point. It stands out, and it tells the reader to pay attention.</p>

  </div>
  <div class="container-lg bg-light m-3 p-2" style="border: 2px solid rgb(209, 26, 26)">
    <h1  style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:coral">Sentences are not made by words, by your heart</h1>
    <p>You don’t start out writing good stuff. You start out writing crap and thinking it’s good stuff, and then gradually you get better at it.
        That’s why I say one of the most valuable traits is persistence</p>
  </div>
  <div class="container-lg bg-light m-3 p-2" style="border: 2px solid rgb(209, 26, 26)">
    <h1  style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:coral">Write what you know </h1>
    <p>Start writing, no matter what. The water does not flow until the faucet is turned on</p>
  </div>

  
  {% endblock content %}