{% extends "myapp/base.html" %}
{% block content %}
<h1 class="container" style='color: coral;'>My Blog</h1>
    {% for blog in blogs %}
    <div class="container-lg bg-light m-2 p-2" style="border: 2px solid rgb(209, 26, 26)">        
        <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: coral;">{{ blog.author }}</h1>
        <p>{{ blog.blog }}</p>
        <a href="{% url 'blog_update' blog.id%}" class="btn btn-success" role="button">Update</a>
        <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger float-right" role="button">Delete</a>
        </div>
    {% endfor %}
  

  
  {% endblock content %}